@model IEnumerable<Project.Models.Entities.Book>
    @{
        ViewData["Title"] = "Book Page";
    }
    <div class="text-center">
        <div>Book Catalog</div>
        <a asp-action="Add" asp-controller="Book">Add</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author.FullName)</td>
                        <td><a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Book">Edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Book">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
